body {
  /*font-family: Roboto, Helvetica, sans-serif;*/
  /*background-color: #EEE;*/
}

/*[drawer] {
  background-color: #FFF;
}*/

/*.content {
  width: 85%;
  height: 85%;
  background-color: #FFF;
}*/
